@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --logo-blue: #0071bd;
    --logo-orange: #f8931f;
    --logo-purple: #7a5491;
    --white: #ffffff;
    --black: #14130f;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 182, 152);
    height: 85px;
}

.header-img img {
    width: 85px;
    margin-right: 500px;
    margin-left: 50px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding-right: 50px;
}

header ul li {
    font-size: 14x;
    text-transform: lowercase;
    color: var(--black);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#header-item-odd:hover {
    color: var(--logo-blue);
    font-size: 16px;
    font-weight: bold;
}

#header-item-even:hover {
    color: var(--logo-purple);
    font-size: 16px;
    font-weight: bold;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);    
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main h1 {
    font-size: 100px;
    text-align: left;
    text-decoration: underline;
    color: var(--white);
    font-weight: bold;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img img {
    width: 30px;
}

.about legend {
    color: var(--white);
    font-size: 8px;
    font-weight: 300;
}